@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --logoColor: rgb(237 28 36);
  --logoHoverColor: rgb(255, 97, 102);
  --logoBlueColor: rgb(0 56 116);
}

* {
  font-family: "Roboto", sans-serif;
  /* font-size: 16px; */
  scroll-behavior: smooth;
}

.boxContainer {
  background-color: white !important;
}

.parent {
  /* background-color: rgba(245, 248, 250, 1); */
  background-color: rgb(243, 242, 248);
  height: 100vh;
  overflow: auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoRedColor {
  color: var(--logoColor);
}

.logoBlueColor {
  color: var(--logoBlueColor) !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  top: auto;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiDrawer-paperAnchorDockedLeft.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  border: none;
}

ul.MuiList-root.MuiList-padding.css-h4y409-MuiList-root {
  padding: 6px;
}

.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.MuiListItemButton-root.MuiListItemButton-gutters.css-1fqi8hc-MuiButtonBase-root-MuiListItemButton-root,
.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-gutters.MuiListItemButton-root.MuiListItemButton-gutters.css-1m5i5w0-MuiButtonBase-root-MuiListItemButton-root {
  padding: 0%;
  padding-left: 16px;
}

.MuiListItemIcon-root.css-l85b3q-MuiListItemIcon-root,
.MuiListItemIcon-root.css-1sg7nbu-MuiListItemIcon-root,
.MuiListItemIcon-root.css-yfyssb-MuiListItemIcon-root,
.MuiListItemIcon-root.css-1tgfnl8-MuiListItemIcon-root {
  margin-right: 9px;
}
/* .MuiListItemIcon-root.css-1ddsiuw-MuiListItemIcon-root {
  color: red;
} */

.ant-menu-item {
  /* padding: 5%; */
  /* height: auto !important; */
  /* margin-bottom: 7% !important; */
  display: flex !important;
  align-items: center;
  /* color: gray !important; */
  /* font-size: larger; */
}

.ant-menu-title-content {
  line-height: initial;
  /* padding: 6%; */
  /* margin: 0%; */
}
.ant-menu-item-icon {
  font-size: large !important;
}

li.ant-menu-item.ant-menu-item-selected,
li.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  color: var(--logoColor) !important;
  font-weight: bold;
  background-color: rgba(252, 232, 233, 1);
}

/* .MuiInputBase-root {
  height: 3rem;
} */

.css-10hburv-MuiTypography-root {
  font-weight: inherit !important;
}
.height3rem {
  height: 3rem !important;
}

button.ant-btn.css-dev-only-do-not-override-1fumvat.ant-btn-primary.ant-btn-dangerous {
  background-color: var(--logoColor);
  width: -webkit-fill-available;
}

.logoColorBtn {
  background-color: var(--logoColor) !important;
}
.logoColorBtn:hover {
  background-color: var(--logoHoverColor) !important;
}

.widthAuto {
  width: auto !important;
}

.maildraftMessage
  fieldset.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 0.34rem;
}

/* Track */
/* ::-webkit-scrollbar-track { 
box-shadow: inset 0 0 5px grey;
border-radius: 10px;
 } */

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(192, 192, 192);
  border-radius: 12px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: rgb(147, 147, 147);
  transition: all 1s;
} */

/* 
.boxHover:hover {
  box-shadow: 0px 0px 12px 0px gray !important;
} */

/* cr-tr-td css */

.css-1t7bfi-MuiTypography-root {
  line-height: inherit !important;
}

.unified-desktop {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.page {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  z-index: 0;
  overflow: auto;
  scroll-behavior: smooth;
  background-color: rgb(243, 242, 248);
  margin-bottom: 0rem;
}

.create-request-screen {
  width: 100%;
  max-height: auto;
  border-radius: 8px;
  justify-content: center;
  margin-bottom: 1.75rem;
}

.validated-detail-el {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}

.validated-icon {
  color: green;
  margin-top: 0.05rem;
  font-size: 1rem;
}

.helper-text-box {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin: 0.1rem 0rem 0rem 0rem;
}

.helper-warning-icon {
  color: rgb(92, 84, 112);
  margin-top: 0.075rem;
  font-size: 1rem;
}

.date-picker-helper {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin: 0.15rem 0rem 0rem 0.85rem;
}

/* .mobile-input-iplogs {
  width: 30%;
} */

.primary-input-iplogs {
  width: 32%;
}

.primary-input {
  width: 28%;
}

.detail-datepickers {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 43%;
  background-color: transparent;
  cursor: pointer !important;
}

.iplogs-mobileno-input {
  width: 25%;
}

.cc-select {
  margin-left: -6% !important;
  width: 32% !important;
}

.cc-input {
  width: 4.6rem !important;
}

.number-box {
  display: flex;
  width: 100%;
  gap: 4rem;
  max-height: 0.25rem !important;
}

.iplogmobileno-adornment {
  /* opacity: 0.92; */
}

.single-rrn-field {
  width: 57%;
}

.request-type-dropdown {
  width: 12%;
  margin-left: 0%;
  background-color: transparent !important;
}

.request-type-selectbox {
  display: flex;
  align-items: center;
  height: 2.65rem;
  font-size: 0.85rem !important;
}

.type-dropdown-menuitem {
  display: flex;
  border: 0px solid #cdcdcd;
  width: 100%;
  height: 1.8rem;
  align-items: left;
  border-radius: 4px;
  /* background-color: transparent; */
}

.add-icon {
  color: red;
  align-self: center;
  justify-self: center;
  font-size: 2.25rem;
}

.remove-icon {
  color: red;
  align-self: center;
  justify-self: center;
  font-size: 2.35rem;
}

.preview-detail-section {
  background-color: rgba(245, 248, 250, 1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.preview-email {
  font-size: 0.88rem !important;
  width: 60% !important;
}

.preview-range {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

.rrn-preview {
  display: flex;
  flex-direction: row;
  gap: 26%;
  width: 50%;
  margin-top: 0.15rem;
}

.rrn-subfields {
  display: flex;
  flex-direction: row;
  min-width: 7.5rem;
  max-width: 7.5rem;
  gap: 0.2rem;
}

.reports-dropdown-input-changed,.ticket-type-input-changed {
  width: 99%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 95% !important;
}

.reports-dropdown-box,.ticket-type-box {
  display: flex;
  align-items: center;
  height: 2.56rem;
  font-size: 0.88rem !important;
  border: none;
}

.reports-search {
  display: flex;
  width: 100% !important;
  gap: 0.25rem;
}

.reports-selection-dropdown-menu-item {
  display: flex !important;
  border: 1px solid #cdcdcd !important;
  margin-top: 1rem !important;
  height: 2.65rem !important;
  align-items: left !important;
  border-radius: 4px !important;
  background-color: transparent !important;
  font-size: 1rem !important;
}

.param-search {
  display: flex;
  width: auto;
  gap: 0.25rem;
  margin: 0.45rem 0.65rem 0rem 0.65rem;
}

.param-search-input {
  font-size: 0.88rem !important;
}

.preview-name-text {
  font-weight: 500 !important;
  font-size: 0.85rem !important;
  font-family: Roboto !important;
}

.preview-value-text {
  font-weight: 400 !important;
  font-size: 0.85rem !important;
  font-family: Roboto !important;
}

.view-request-screen,
.view-request-details-screen {
  /* overflow: hidden; */
  width: 100%;
  border-radius: 8px;
  justify-content: center;
}

*,
input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.selected-report-header > *,
.selected-param-box > *,
.preview-report-header > *,
.request-filter-section > *,
.ticket-number-input > *,
.view-details-button > *,
.mail-draft-button > *,
.retry-button > * {
  margin: 0;
  padding: 0;
}

/* ////////////////////CLOSE/////////////////// */

.report-dates {
  display: flex;
  flex-direction: row;
}

.rrn-fields {
  display: flex;
  flex-direction: row;
  gap: 2.75%;
  width: 52%;
}

/* ////////////////////CLOSE/////////////////// */

.ticket-entry-section {
  margin-top: 0.6rem;
  max-height: auto;
  /* width: 100%; */
  flex-direction: column;
  background-color: white;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.1);
  align-items: center;
  padding: 1.25rem 1.5rem 1.15rem 1.5rem;
}

.ticket-type-section {
  display: flex;
  /* background-color: blue; */
  flex-direction: row;
  max-height: auto;
  padding-bottom: 1.25rem;
  gap: 2.5%;
}

.ticket-number-container,
.ticket-type-cont,
.ticket-description-container {
  max-height: fit-content;
  flex: 1;
}

/* .ticket-number-input,
.ticket-description-input {
  margin: 0rem 0rem 0rem 0rem;
  height: auto;
  font-size: 0.88rem
} */

.ticket-number-input::placeholder,
.ticket-description-input::placeholder {
  font-family: Roboto;
  opacity: 0.55;
}

.selected-reports-section {
  display: flex;
  justify-content: left;
  margin-top: 1.5rem;
  max-height: auto;
  width: auto;
  flex-direction: column;
  background-color: white;
  padding: 1.25rem 1.5rem 1.5rem 1.625rem;
  border-radius: 4px;
  align-items: left;
  box-shadow: 1px 2px 12px 0px rgba(0, 0, 0, 0.1);
  gap: 0.45em;
}

.ticket-type-section,
.selected-report-view,
.reports-box {
  width: 90%;
  flex: 1;
}

.ticket-menu-sel-item,.ticket-menu-item {
  font-family: Roboto !important;
  font-weight: 500 !important;
}

.ticket-menu-sel-item {
  background-color: rgb(61, 255, 255) !important;
}

.ticket-desc-cont {
  display: flex;
  width: 43.85%;
  margin-bottom: 1.3rem !important;
}

.selected-report-view {
  max-height: auto;
  border-radius: 5px;
  border-width: 1.5px;
  border-color: rgba(128, 128, 128, 0.74);
  border-style: solid;
  box-shadow: none !important;
}

.selected-param-details {
  display: flex;
  gap: 0.91rem;
  flex-direction: row;
  height: 1.85rem;
  width: 100%;
}

.selected-report-header {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-grow: 1;
  border-width: 0px 0px 1.5px 0px;
  border-color: rgba(128, 128, 128, 0.48);
  border-style: solid;
  min-height: 2.5rem;
  max-height: 2.75rem;
}

.selected-section-heading {
  font-size: 1.1rem !important;
  font-family: Roboto !important;
  font-weight: 500 !important;
}

.selected-report-heading {
  font-size: 0.85rem !important;
  vertical-align: middle;
  font-family: Roboto;
  font-weight: 500 !important;
}

.selected-reports-content {
  margin-top: 0.25rem;
  margin-bottom: 1.65rem;
}

.accordion-details {
  padding: 0 !important;
  border: 1px solid rgba(205, 205, 205, 1) !important;
  border-width: 1px 0px 0px 0px !important;
}

.selected-report-details {
  padding: 1.25rem 1.25rem 0rem 1.25rem;
  max-height: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 1px;
  border-color: grey;
  width: 100%;
}

.selected-param-box {
  width: auto;
  margin: 0rem 0rem 0rem 0rem !important;
  font-size: 0.88rem !important;
}

.param-display {
  align-items: center;
  justify-content: space-around;
  justify-items: left;
}

.selected-params-display {
  width: 99% !important;
  font-size: 0.85rem !important;
  text-overflow: ellipsis !important;
  overflow: auto !important;
  padding-right: 0.25rem !important;
}

.param-display-placeholder {
  font-size: 0.85rem !important;
  opacity: 0.75 !important;
  font-weight: 400 !important;
}

.param-selection-dropdown {
  display: flex;
  align-items: center;
  height: 2.65rem;
  font-size: 0.88rem;
  margin-bottom: 0.4rem;
}

.param-menu-listext {
  padding: 0.15rem 0rem 0rem 0rem;
}

.param-dropdown-checkbox {
  margin-left: -0.88rem !important;
  background-color: transparent !important;
}

.param-menu-item {
  display: flex !important;
  border-bottom-width: 1.75px !important;
  height: 2.36rem !important;
  align-items: left;
  border-radius: 0px !important;
  background-color: transparent !important;
  font-size: 1.25rem !important;
  padding-left: 0.05rem !important;
  border-style: solid !important;
  border-color: rgba(232, 232, 232, 1) !important;
  border-bottom-width: 1.75px !important;
}

.selected-param-box-3 {
  z-index: 0;
}

.selected-param-box::placeholder,
.selected-param-box-3::placeholder,
.selected-param-box-2::placeholder,
.number-box::placeholder {
  color: #a5a5a5;
}

.add-remove-button {
  display: flex;
  align-items: center;
  margin: 0.4rem 0rem 0rem 0rem;
  justify-content: center;
  width: 3.5%;
  align-self: center;
  vertical-align: middle;
  border: none;
  background-color: transparent;
  /* border-style: solid;
  border-color: #de1f1f;
  border-radius: 40px; */
}

.iplog-void-button {
  display: flex;
  align-items: center;
  margin: 0.4rem 0rem 0rem 0rem;
  justify-content: center;
  width: 4%;
  align-self: center;
  vertical-align: middle;
  border: none;
  opacity: 0;
  background-color: transparent;
  /* border-style: solid;
  border-color: #de1f1f;
  border-radius: 40px; */
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: left;
  /* background-color: white; */
  gap: 1.25rem;
  border-color: rgb(255, 0, 0);
  border-radius: 40px;
}

.submit-button,
.preview-button {
  width: 8rem;
  border-width: 0;
  height: 2.25rem;
  font-weight: 600;
  font-size: 0.88rem;
  border-radius: 5px;
}

.submit-button {
  background-color: rgb(232, 0, 0);
  color: white;
}

.submit-text {
  font-family: Roboto !important;
  font-size: 0.92rem !important;
  font-weight: 600 !important;
}

.preview-button {
  background-color: white;
  color: red;
  border-radius: 5px;
  border-width: 1.5px;
  border-color: red;
  border-style: solid;
}

.preview-modal {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.preview-box {
  display: flex;
  flex-direction: column;
  height: 29rem;
  width: 75%;
  background-color: white;
  border-radius: 6px;
  padding: 1rem 0rem 1rem 0rem;
}

.preview-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.25rem 0.45rem 1.5rem;
  border: 1px solid rgba(236, 236, 236, 1);
  border-width: 0px 0px 1.5px 0px;
}

.preview-main-heading {
  font-size: 1.25rem !important;
  font-family: Roboto !important;
  font-weight: 500 !important;
}

.preview-heading {
  font-size: 1.4rem;
  font-family: Roboto;
  padding-top: 0.45rem;
  font-weight: 500;
}

.close-preview {
  display: flex;
  color: rgb(175, 175, 175);
  align-items: normal;
}

.preview-scroll {
  overflow: auto;
  padding: 0rem 1.5rem 0rem 1.5rem;
}

.preview-report {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.74);
  border-style: solid;
  width: 100%;
  align-self: center;
}

.preview-report-header {
  display: flex;
  flex-direction: row;
  border-bottom-width: 0.45px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: gray;
  border-style: solid;
  min-height: 2.65rem;
  padding: 0rem 0.75rem 0rem 0.75rem;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
}

.checkbox {
  margin-left: -0.88rem !important;
  background-color: transparent !important;
}

.check-icon {
  margin-top: -0.1rem;
  color: red !important;
  font-size: 1.5rem !important;
}

.uncheck-icon {
  margin-top: -0.1rem;
  color: rgba(115, 115, 115, 1) !important;
  font-size: 1.5rem !important;
}

.reports-menu-listext {
  padding: 0.05rem 0rem 0rem 0rem;
}

.preview-title {
  font-size: 0.84rem;
  vertical-align: middle;
  font-family: Roboto;
  font-weight: 500;
}

.preview-report-details {
  display: flex;
  align-self: center;

  /* align-items: center; */
  /* justify-content:space-between; */
  min-height: fit-content;
  max-height: auto;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 248, 250, 1);
  /* padding-bottom: 0.4rem; */
}

.preview-data {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0.45rem 0.25rem 0.45rem 0.25rem;
  /* background-color: red; */
  /* padding: 0rem 0rem 0rem 0rem; */
  /* align-self:flex-start;
  justify-self: flex-start; */
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  /* gap: 2rem; */
  /* justify-content: space-between; */
}

.detail-input {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  align-self: flex-start;
  justify-content: left;
  justify-self: left;
  overflow: hidden;
  min-width: 30% !important;
  max-width: 30% !important;
}

.detail-range {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin-top: 0.19rem;
  min-width: 23%;
  max-width: 23%;
}

.rrn-preview-2 {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin-top: 0.19rem;
  min-width: 123%;
  max-width: 123%;
}

.type-preview {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  min-width: 30%;
  max-width: 30%;
}

.mobileno-preview {
  min-width: 30%;
  max-width: 30%;
}

/* .rrn-fields {display: flex;flex-direction: row;gap: 5rem;margin-top: 0.19rem;} */

.select-icon {
  color: rgb(101, 101, 101) !important;
  font-size: 1.4rem !important;
}

.preview-button:hover,
.select-icon:hover,
/* .ticket-number-input:hover, */
/* .ticket-description-input:hover, */
.close-preview:hover,
/* .selected-param-box:hover,
.selected-param-box-2:hover,
.selected-param-box-3:hover, */
.request-filter-section:hover,
.request-searchbar:hover,
.view-details-button:hover,
.mail-draft-button:hover,
/* .number-box:hover, */
.retry-button:hover {
  box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  border-width: 1px solid white;
}

.retry-button:hover {
  background-color: rgb(255 231 232);
}

.expand-button {
  border-width: 0px;
  background-color: transparent;
}

.filter-clear-button {
  background-color: rgba(237, 28, 36, 1);
  border-radius: 4px;
  border: none;
  width: 31%;
  height: 1.75rem;
  font-weight: 600;
  color: white;
  font-size: 0.69rem;
}

.submit-button:hover,
.filter-clear-button:hover {
  box-shadow: 1px 2px 12px 2px rgba(79, 77, 100, 0.48);
  transition: all 0.4s;
}

.no-data-lottie {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 4rem;
}

.no-data-anim {
  align-self: center;
  height: 20rem;
  justify-self: center;
}

.no-data-found {
  font-weight: 600 !important;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 1rem;
  font-size: 1.5rem !important;
  letter-spacing: 0.25;
  color: rgba(96, 96, 96, 1);
}

.view-icon {
  color: rgba(95, 99, 104, 0.87) !important;
  font-size: 1.6rem !important;
}

.close-preview-button {
  font-size: 1.75rem !important;
  color: rgba(95, 99, 104, 1) !important;
}

.close-preview-button {
  background: none;
  border: none;
}

.select-icon:hover,
.calendar-icon:hover,
.view-icon:hover,
.add-remove-button:hover,
.close-preview-icon:hover,
.expand-icon:hover {
  box-shadow: 1px 2px 12px 0px rgba(56, 50, 121, 0.157);
  transition: all 0.4s;
  border-radius: 40px;
}

.MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedStart.css-1eed5fa-MuiInputBase-root-MuiInput-root {
  font-weight: 500;
}

/* fieldset.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none;
} */

.MuiSelect-standard {
  background-color: rgb(255, 0, 0);
}

.MuiSelect-select {
  background-color: red;
}

.MuiSelect-root {
  background-color: red;
}

.MuiTextField-root {
  border: 2px solid blue;
}

.MuiSelect-icon {
  margin-right: 0.4rem;
}
/* .Mui-selected {
  background-color: transparent;
} */

.MuiCheckbox-colorSecondary {
  background-color: transparent;
}

/* .MuiCheckbox-colorError.Mui-checked {
  color: red !important;
  background-color: transparent !important;
  } */

.MuiListItemText-secondary {
  color: black;
  opacity: 1;
}

.table-page {
  background-color: transparent;
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: rgb(243, 242, 248);
}

.page-heading {
  font-weight: 500 !important;
  font-size: 1.4rem !important;
}

.view-request-container,
.view-details-container {
  display: flex;
  margin-top: 0.6rem;
  width: 100%;
  flex-direction: column;
  background-color: white;
  border-width: 0;
  min-height: 36.75rem;
  box-shadow: 1px 2px 12px 2px rgba(0, 0, 0, 0.1);
  align-items: center;
  padding: 1.6rem 1.5rem 0rem 1.5rem;
  border-radius: 4px;
}

.view-details-container {
  padding: 1.6rem 1.5rem 0rem 1.5rem;
}

.view-request-header {
  display: flex;
  flex-direction: row;
  gap: 1.85rem;
  height: 2.4rem;
  width: 36%;
  align-self: flex-end;
  justify-self: flex-end;
}

.request-searchbar {
  display: flex;
  flex-direction: row;
  border-radius: 4.5px;
  border-width: 1.85px;
  border-color: #a1a1a1;
  border-style: solid;
  width: 80%;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  align-items: center;
  gap: 0.4rem;
}

.param-search-icon,
.request-search-icon {
  color: #737373;
}

.request-search-input {
  border-style: none;
  border-width: 0px;
  font-size: 0.88rem !important;
  gap: 1.25rem !important;
  width : 100% !important
}

.request-search-input::placeholder {
  color: #a5a5a5;
}

.request-filter-section {
  display: flex;
  flex-direction: row;
  border-radius: 4.5px;
  border-width: 1.85px;
  border-color: #a1a1a1;
  border-style: solid;
  width: 22%;
  padding-left: 0.7rem;
  padding-right: 0.6rem;
  align-items: center;
  gap: 0.45rem;
  background-color: transparent;
}

.request-ticket-section {
  margin-top: 1.25rem;
  border-radius: 0px;
  display: flex;
  align-self: center;
  width: 100%;
  height: auto;
  overflow: auto;
  border-top-left-radius: 0px;
  /* box-shadow: 1px 2px 8px 2px rgba(79, 77, 100, 0.15) !important; */
  border-top-right-radius: 0px;
}

.detail-buttons {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-self: center;
}

.view-details-button,
.mail-draft-button {
  display: flex;
  width: 75%;
  height: 2.75rem;
  flex-direction: row;
  border-radius: 4px;
  border-width: 1.5px;
  align-items: center;
  justify-content: center;
  gap: 0.45rem;
  background-color: transparent;
  font-family: Roboto;
  border-style: solid;
  font-weight: 500;
}

.view-details-button {
  color: rgb(0, 97, 201);
  border-color: rgb(0, 97, 201);
  /* color:rgb(0, 0, 177); */
}

.download-all {
  font-weight: bold !important;
  border-color: gray !important;
  color: gray !important;
}

.view-table {
  border-radius: 0px;
  display: flex;
  align-self: center;
  width: 100%;
}

.view-table-container {
  margin-bottom: 2.2rem;
  border-bottom-width: 0px;
  box-shadow: 1px 2px 12px 2px rgba(79, 77, 100, 0.48) !important;
  align-self: center;
  max-height: 27.325rem;
  overflow: auto;
  box-shadow: none !important;
}

.view-table-header {
  border: 1px solid rgba(225, 225, 225, 1);
  font-size: 0.88rem;
  background-color: rgba(245, 248, 250, 1) !important;
}

.view-table-body {
  border-bottom-width: 0px;
  border-style: solid;
  border-color: rgba(225, 225, 225, 1);
}

.view-table-data-row {
  display: flex;
  border-right-width: 1px;
  border-style: solid;
  border-color: rgba(225, 225, 225, 1);
}

.vr-ticketid {
  border-left-width: 1px !important;
  border-right-width: 1px;
  font-size: 0.88rem;
}

.vr-ticketid-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vr-ticketid-skel,
.vr-reports-skel,
.vr-status-skel,
.vr-date-skel,
.vr-user-skel,
.vr-action-skel {
  display: flex;
  border-radius: 4px;
  background-color: rgb(227, 226, 233) !important;
  align-self: center;
}

.vr-ticketid-skel {
  height: 1.65rem !important;
}

.vr-reports,
.vr-status {
  border-right-width: 1px;
}

.vr-reports-skel {
  height: 1.65rem !important;
}

.vr-status-skel {
  height: 2.5rem !important;
  width: 7rem !important;
  border-radius: 22px !important;
}

.vr-date-skel {
  height: 2rem !important;
  width: 6rem !important;
}

.vr-user-skel {
  height: 2rem !important;
  width: 10rem !important;
}

.vr-action-skel {
  height: 2.85rem !important;
  width: 7rem !important;
}

.vr-action-icon {
  font-size: 1.525rem !important;
}

.expand-icon {
  color: rgba(95, 99, 104, 0.87) !important;
  font-size: 2rem !important;
}

.expanded-view {
  background-color: rgb(243 243 243 / 79%);
  height: 7vh;
}

.sand-box {
  width: 18%;
  mix-blend-mode: darken;
}

.view-table-status-buttons {
  display: flex;
  align-self: center;
  width: 7rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: auto;
  border-radius: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
}

.vr-pagination {
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
  width: 100% !important;
  height: 0rem !important;
  margin: 0rem 0rem 2rem 0rem !important;
  overflow: visible !important;
}

.paginate-select-input {
  border: none;
  height: 1.2rem;
}

.rows-per-page {
  display: flex;
  flex-direction: row;
  margin-top: 1.1rem;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: baseline;
}

.filter-icon {
  color: #606060 !important;
  font-size: 1.36rem !important;
}

.filter-menu {
  margin-left: -1.65%;
  padding: 0 !important;
  border: 1.5px solid rgba(232, 232, 232, 1) !important;
  border-radius: 4px !important;
}

.filter-menu-container {
  height: 100%;
  padding: 0.6rem 0rem 0.6rem 0rem;
}

.filter-heading {
  font-weight: 500 !important;
  font-size: 0.95rem !important;
  color: rgba(96, 96, 96, 1) !important ;
}

.filter-menu-header {
  height: 1.85rem;
  padding-left: 0.6rem;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: rgba(232, 232, 232, 1);
}

.status-menuitem {
  display: flex !important;
  height: 1.95rem !important;
  align-items: left !important;
  background-color: transparent;
  padding: 0rem 0rem 0rem 0.25rem !important;
}

.status-checkbox {
  margin-left: -1rem !important;
  background-color: transparent;
}

.status-listext {
  padding: 0.15rem 0rem 0rem 0rem !important;
}

.date-filter-section {
  padding: 0.36rem 0rem 0rem 0rem;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: rgba(232, 232, 232);
}

.dates-heading {
  font-weight: 500 !important;
  font-size: 0.85rem !important;
  color: rgba(96, 96, 96, 1) !important;
  padding-left: 0.65rem;
}

.separator-section {
  display: flex;
  margin-top: 0.15rem;
  align-items: center;
}

.separator {
  font-size: 200% !important;
  color: rgba(161, 161, 161, 1) !important;
}

.filter-clear-section {
  display: flex;
  padding: 0.75rem 0.65rem 0.225rem 0rem;
  align-items: center;
  justify-content: flex-end;
}

/* .date-filter-section {
} */

.table-pagination {
  height: auto;
  width: 100%;
}

.MuiTablePagination-root {
  display: flex;
  align-items: center;
}

/* .MuiTablePagination-toolbar {
} */

.MuiTablePagination-actions {
  margin-top: 0.25rem;
}

.MuiTablePagination-displayedRows {
  display: flex;
  align-self: center;
  margin-top: 5%;
}

.MuiTablePagination-selectLabel {
  align-self: center;
}

.MuiTablePagination-input {
  width: 10%;
}

/* .MuiTablePagination-select {
}

.MuiTablePagination-menuItem {
} */

.MuiTablePagination-selectIcon {
  opacity: 0.85;
}

.MuiTableBody-root {
  border-bottom-width: 0px;
}

.app-card {
  background-color: rgba(255, 255, 255, 1);
  width: 19rem;
  height: 8.8rem;
  box-shadow: rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0rem 2rem 0rem 1.25rem;
  gap: 1.5rem;
  border: none;
}

.app-name {
  flex: 1;
  color: rgba(0, 0, 0, 1);
  font-weight: 500;
  font-size: 1.75rem;
}

.app-card:hover {
  /* padding: 2rem; */
  box-shadow: 1px 2px 12px 2px rgba(79, 77, 100, 0.18);
  transition: all 0.6s;
}

.loader-container {
  display: flex;
  flex: 1;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(248, 248, 253, 0.4);
}

.loader-modal {
  display: flex;
  background-color: transparent;
  width: 100%;
  height: 27rem;
  align-self: center;
  align-items: center;
  justify-content: center;
  overflow: auto;
  margin-bottom: 3.6rem;
}

.loader-animation {
  display: flex;
  background-color: transparent;
  width: 100%;
  font-size: 50%;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.date-picker {
  cursor: pointer;
}

.mobile-label {
  margin: -0.6rem 0rem 0rem -0.75rem;
}

.valid-mobile-label {
  margin: -0.6rem 0rem 0rem -0.75rem;
  color: green !important;
}

.cc-dropdown {
  margin-left: 0%;
  background-color: transparent !important;
}

.cc-selectbox {
  display: flex;
  align-items: center;
  height: 2.65rem;
  margin-left: -0.92rem;
  /* width: 30%; */
  font-size: 0.85rem !important;
}

.cc-menuitem {
  display: flex;
  border: 0px solid #cdcdcd;
  width: 100%;
  height: 1.8rem;
  align-items: left;
  border-radius: 4px;
  background-color: transparent;
}
