* {
  font-family: "Roboto", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoRedColor {
  color: rgb(238 50 57);
}

li.ant-menu-item.ant-menu-item-selected,
li.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child {
  color: red;
  font-weight: bold;
  background-color: rgba(252, 232, 233, 1);
}

.MuiInputBase-input {
  padding: 3% !important;
}
